.git
.gitignore
.github

.vscode
.mypy_cache
.ruff_cache
.pytest_cache
__pycache__
*.py[cod]

.venv
venv
env

*.egg-info

.ipynb_checkpoints
*.ipynb

tests
test.py
testing.ipynb

*.txt
*.json

.env
.env.*
